body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #e6f0ff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
    margin-top: 90px;
}

.categories {
    text-align: center;
    margin-bottom: 25px;
}

.categories a {
    text-decoration: none;
}

.categories button {
    padding: 8px 18px;
    margin: 5px;
    border: none;
    border-radius: 25px;
    background: #e0e0e0;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.categories button:hover {
    background: #bfbfbf;
}

.categories .active {
    background: #333;
    color: white;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 12px;
}

.gallery-item {
    border: 1px solid#ddd;
    background: #d0e0ff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    overflow: hidden;
}

.gallery-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.gallery-item img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    display: block;
}

.location {
    margin-top: 8px;
    text-align: center;
    font-size: 15px;
    color: #444;
}

#contact {
    background: linear-gradient(135deg, #01718b, #00A8E8);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 0.95rem;
}


b {
    color: #cccc6c;
}

.footer {
    background: #0b3c5d;
    color: #ffffff;
    padding: 40px 0 20px;
    font-family: Arial, sans-serif;
    margin-left: -0%;

}


.footer-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.footer-box h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #f4b41a;
}

.footer-box p,
.footer-box li {
    font-size: 14px;
    line-height: 1.6;
    color: #cccccc;
}

.footer-box ul {
    list-style: none;
    padding: 0;
}

.footer-box ul li {
    margin-bottom: 8px;
}

.footer-box ul li a {
    color: #cccccc;
    text-decoration: none;
}

.footer-box ul li a:hover {
    color: #f4b41a;
}

.footer-bottom {
    border-top: 1px solid #333;
    margin-top: 30px;
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #bbbbbb;
}