body {
    font-family: 'Arial', sans-serif;
    background-color: #f2eaea;
    margin: 0;
    padding: 0;
}

.contact-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #9cced3;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

}

.contact-container h2 {
    text-align: center;
    color: #333;
}

.contact-container p {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    padding-right: 7px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.contact-info {
    margin-top: 40px;
}

.social-icons a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    color: white;
    background: #6a11cd;
    padding: 10px 15px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background: #0056b3;
}

iframe {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}