* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Navbar style */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #00A8E8, #03a5ce);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo span {
    color: #ffe600;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: #002B5B;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #f8c567;
}

/* Mobile menu */
.menu-icon {
    display: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}

/* Hero section for demo */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    padding-top: 60px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;

}

.search-container {
    height: 30px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: rgb(226, 221, 221);
}

.hero p {
    font-size: 1.2rem;
    color: #f7f4f4;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: -100%;
        background: linear-gradient(135deg, #00A8E8, #03a5ce);
        flex-direction: column;
        width: 200px;
        text-align: center;
        transition: right 0.4s ease;
        padding: 20px 0;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .menu-icon {
        display: block;
    }
}