* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    overflow-x: hidden;
    overscroll-behavior: none;
    scroll-behavior: smooth;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #00A8E8, #03a5ce);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo span {
    color: #ffe600;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: #002B5B;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links li a i {
    font-size: 25px;
}

.nav-links li a:hover {
    color: #f8c567;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(154, 195, 243);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100;
    list-style: none;
    padding: 10px 0;
    height: 140px;
}

.dropdown-content li {
    padding: 8px 15px;
}

.dropdown-content li a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li:hover {
    background: #f0f0f0;
}

.user-dropdown {
    position: relative;
    display: inline-block;

}

.user-dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background: rgb(221, 219, 219);
    padding: 10px 0;
    min-width: 150px;
    box-shadow: 0px 4px 10px rgba(20, 14, 14, 0.2);
    z-index: 999;
    border-radius: 2px;
}

.user-dropdown-menu a {
    display: block;
    padding: 8px 15px;
    color: rgb(7, 7, 7);
    text-decoration: none;
}

.user-dropdown-menu a:hover {
    background: #e8d6d6;
}

.user-dropdown:hover .user-dropdown-menu {
    display: block;
}

.menu-icon {
    display: none;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    padding-top: 60px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    background-color: none;
}

.search-container {
    display: flex;
    justify-content: center;
    width: 400px;
    z-index: 5;
    position: relative;
    margin: 35px;
}

.search-container input {
    height: 45px;
    width: 520px;
    border-radius: 20px;
    padding: 10px 40px 10px 15px;
    font-size: 20px;
    border: 1px solid #d9e7ef;
}

.search-container i {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-95%);
    color: #555;
    font-size: 18px;
    cursor: pointer;

}

.search-container i:hover {
    color: #007bff;

}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: rgb(226, 221, 221);
}

.hero p {
    font-size: 1.2rem;
    color: #f7f4f4;
}

.intro {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #e3ebf2;
    text-align: center;
}

.intro .intro-content {
    max-width: 800px;
    margin: 0 auto;
}

.intro-content h2 {
    font-size: 30px;
    margin-top: 20px;
    color: #026b83;
    margin-bottom: 15px;
}

.intro-content p {
    font-size: 25px;
    line-height: 1.5;
    color: black;
}

.destinations {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    background-color: #e5e9ed;
}

.destinations h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: #089bd6;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.place {
    width: 300px;
    text-align: center;
}

.place img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.place p {
    margin-top: 10px;
    font-weight: 600;
}

.place img:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

}

.choose {
    padding: 20px 10%;
    text-align: center;
    background: #e3ebf2;
}

.choose h2 {
    font-size: 35px;
    margin-bottom: 30px;
    color: #026b83;
}

.choose-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.choose-box {
    background: rgb(164, 209, 228);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.choose-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.choose-box i {
    font-size: 40px;
    color: #089bd6;
    margin-bottom: 15px;
}

.choose-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.choose-box p {
    font-size: 18px;
    color: #333;
}

.packages-wrap {
    max-width: 100%;
    margin: 0 auto;
    background: #e3ebf2;
    padding: 30px 0;
}

.section-title {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.grids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.card {
    background: rgb(164, 209, 228);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
    margin-left: 10px;
    margin-right: 10px;
}

.img-box {
    position: relative;
}

.img-box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 0;
}

.price-badge {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: white;
    padding: 6px 10px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.price-badge span {
    color: #0ea5a4;
}

.card-body {
    padding: 15px;

}

.card-top .title {
    font-size: 18px;
    font-weight: bold;
}

.location {
    font-size: 15px;
    color: #666;
    margin-bottom: 8px;
}

.features {
    margin: 10px 0;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.chip {
    background: #eef7f6;
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 15px;
}

.desc {
    font-size: 14px;
    color: #444;
    height: 50px;
    overflow: hidden;
    transition: .3s;
}

.desc.expanded {
    height: auto;
}

.price-row {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #0ea5a4;
}

.actions {
    display: flex;
    gap: 6px;
}

.btn {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}

.btn-more {

    cursor: pointer;
}

.btn-book {
    background: #0ea5a4;
    color: white;
    cursor: pointer;
}

.reviews-section {
    background-color: #e0ebed;
    padding: 50px 20px;
    text-align: center;
}

.reviews-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
}

.reviews {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.review-card {
    background-color: #bbe2f0;
    padding: 50px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

}

.review-card p {
    font-style: normal;
    color: #555;
    margin-top: 30px;
}

.review-card h4 {
    margin-top: 15px;
    color: #222;
}


#contact {
    background: linear-gradient(135deg, #01718b, #00A8E8);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 0.95rem;
}


b {
    color: #cccc6c;
}

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: -100%;
        background: linear-gradient(135deg, #00A8E8, #03a5ce);
        flex-direction: column;
        width: 200px;
        text-align: center;
        transition: right 0.4s ease;
        padding: 20px 0;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .menu-icon {
        display: block;
    }
}