{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bangladesh Tourism</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="logo">Travel<span>BD</span></div>
        <ul class="nav-links" id="navLinks">
            <li><a href="">Home</a></li>
            <li><a href="">Destinations</a></li>
            <li><a href="">Packages</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <div class="menu-icon" id="menuIcon">☰</div>
    </nav>
    <section class=" hero">
        <h1>Explore the beauty of Bangladesh</h1>
        <p>Discover, Travel & Enjoy</p>
        <div class="search-container">
            <form action="#" method="get">
                <input type="text" placeholder="search-destinations" name="search">
                <button type="submit">Search
                </button>
            </form>
        </div>
    </section>
    <script>
        const images = [
            "{% static 'myapp/images/coxs.jpg' %}",
            "{% static 'myapp/images/sajek.jpg' %}",
            "{% static 'myapp/images/jaflong.jpg' %}"
        ];
    </script>
    <script src="{% static 'myapp/js/script.js' %}">
    </script>
</body>

</html>