{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bangladesh Tourism</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">Travel<span>BD</span></div>
        <ul class="nav-links" id="navLinks">
            <li><a href="{%url 'home' %}">Home</a></li>
            <li class="dropdown"><a href=" {% url 'destination_categories' %}">Destinations</a>
                <ul class="dropdown-content">
                    {% for category in categories_for_nav %}
                    <li>
                        <a href="{% url 'category_destinations' category.id %}">
                            {{ category.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>

            </li>
            <li>
                <a href=" ">Packages</a>
            </li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="{% url 'about'%}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <div class=" user-dropdown">
                <a href="#" class="user-icon" id="userMenu" data-toggle="dropdown">
                    <i class="fa fa-user" style="font-size:22px;"></i>
                </a>

                <div class=" user-dropdown-menu">
                    {% if user.is_authenticated %}
                    </span>
                    <a href="{% url 'profile' %}">My Account</a>
                    <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>


        </ul>
        <div class="menu-icon" id="menuIcon">☰</div>
    </nav>
    <section class=" hero">
        <h1>Explore the beauty of Bangladesh</h1>
        <p>Discover, Travel & Enjoy</p>
        <div class="search-container">
            <form action="#" method="get">
                <input type="text" placeholder="search-destinations" name="search">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </section>
    <section class="intro">
        <div class="intro-content">
            <h2> Discover Bangladesh Like Never Before</h2>
            <p> We help travelers explore the natural beauty, culture, and hidden gems of Bangladesh
                with comfort, safety, and expert guidance. From beaches to hills, forests to heritage sites-
                your perfect adventure starts here.</p>

        </div>
    </section>
    <section id="destinations" class="destinations">
        <h2>Top Destinations</h2>
        <div class="grid">
            <div class="place">
                <img src="{% static 'myapp/images/cox2.jpg'%}" alt="">
                <p>Cox's Bazar</p>
            </div>
            <div class="place">
                <img src="{% static 'myapp/images/sajek3.jpg'%}" alt="">
                <p>Sajek Valley</p>
            </div>
            <div class="place">
                <img src="{% static 'myapp/images/sundarban.jpg'%}" alt="">
                <p>Sundarban</p>
            </div>
            <div class="place">
                <img src="{% static 'myapp/images/bandarban.jpg'%}" alt="">
                <p>Bandarban</p>
            </div>
            <div class="place">
                <img src="{% static 'myapp/images/kuakaata2.jpg'%}" alt="">
                <p>Kuakata</p>
            </div>
            <div class="place">
                <img src="{% static 'myapp/images/rangamati.jpg'%}" alt="">
                <p>Rangamati</p>
            </div>

        </div>
    </section>
    <section class="choose">
        <h2>Why Choose us for Travel?</h2>
        <div class="choose-container">

            <div class="choose-box">
                <i class="fas fa-map-marked-alt"></i>
                <h3>Best Destinations</h3>
                <p>We bring you the most beautiful and popular tourist spots across Bangladesh.</p>
            </div>

            <div class="choose-box">
                <i class="fas fa-user-shield"></i>
                <h3>Trusted Service</h3>
                <p>Safe travel experience with reliable guides and support anytime you need.</p>
            </div>

            <div class="choose-box">
                <i class="fas fa-hand-holding-usd"></i>
                <h3>Affordable Cost</h3>
                <p>Enjoy amazing places with the best price and complete travel packages.</p>
            </div>

        </div>
    </section>
    <div class="packages-wrap">
        <h2 class="section-title">Popular Packages</h2>

        <div class="grids">


            <article class="card">
                <div class="img-box">
                    <img src="{% static 'myapp/images/cox3.jpg'%}" alt="">
                    <div class=" price-badge">From <span>BDT 6,500</span>
                    </div>
                </div>

                <div class="card-body">
                    <div class="card-top">
                        <div class="title">Cox's Bazar Tour</div>
                        <div class="location"><i class="fa-solid fa-location-dot"></i>Cox's Bazar, Bangladesh</div>
                    </div>

                    <div class="features">
                        <span class="chip">Hotel</span>
                        <span class="chip">Breakfast</span>
                        <span class="chip">Transport</span>
                    </div>

                    <p class="desc">
                        Enjoy the longest natural sea beach with sunset views, boat rides, and seafood. Comfortable
                        hotel stay included.
                    </p>

                    <div class=" price-row">
                        <div class="price">BDT 6,500</div>
                        <div class="actions">
                            <button class="btn btn-book">Book now</button>
                        </div>
                    </div>

                </div>
            </article>


            <article class="card">
                <div class="img-box">
                    <img src="{% static 'myapp/images/sajek4.jpg'%}" alt="">
                    <div class="price-badge">From <span>BDT 8,200</span></div>
                </div>

                <div class="card-body">
                    <div class="card-top">
                        <div class="title">Sajek Valley Tour</div>
                        <div class="location"><i class="fa-solid fa-location-dot"></i>Sajek, Rangamati</div>
                    </div>

                    <div class="features">
                        <span class="chip">Hill View</span>
                        <span class="chip">Campfire</span>
                    </div>

                    <p class="desc">
                        Explore stunning hill views, sunrise in the clouds, and tribal villages. Basic accommodation
                        include.
                    </p>
                    <div class="price-row">
                        <div class="price">BDT 8,200</div>
                        <div class="actions">
                            <button class=" btn btn-book">Book
                                now</button>
                        </div>
                    </div>
                </div>
            </article>


            <article class="card">
                <div class="img-box">
                    <img src="{% static 'myapp/images/sundarban2.jpg'%}" alt="">
                    <div class="price-badge">From <span>BDT 5,400</span></div>
                </div>

                <div class="card-body">
                    <div class="card-top">
                        <div class="title">Sundarbans Adventure</div>
                        <div class="location"><i class="fa-solid fa-location-dot"></i>Sundarban, Khulna</div>
                    </div>

                    <div class="features">
                        <span class="chip">Boat Trip</span>
                        <span class="chip">Guide</span>
                        <span class="chip">Lunch</span>
                    </div>

                    <p class="desc">
                        Experience mangrove forest boat safari with birds & wildlife sightings. Includes meal & guide..
                    </p>

                    <div class="price-row">
                        <div class="price">BDT 5,400</div>
                        <div class="actions">
                            <button class="btn btn-book">Book now</button>
                        </div>
                    </div>
                </div>
            </article>

        </div>
    </div>
    <section id="reviews" class="reviews-section">
        <div class="container">
            <h2>Customer Reviews</h2>
            <div class="reviews">
                <div class="review-card">
                    <img src="{% static 'myapp/images/samanta.jpg'%}" alt="">
                    <p>"Amazing experience! Highly recommend this tour."</p>
                    <h4>Samanta</h4>
                    <span> Banaripara,Barisla</span>
                </div>
                <div class="review-card">
                    <img src="{% static 'myapp/images/shuvo.jpg'%}" alt="">
                    <p>"Very organized and friendly staff. Loved it!"</p>
                    <h4>Shuvo Rahman</h4>
                    <span>Dhaka,Bangladesh</span>
                </div>
                <div class="review-card">
                    <img src="{% static 'myapp/images/tahsin.jpg'%}" alt="">
                    <p>"Beautiful places and great service. Will visit again."</p>
                    <h4>Sajedul islam</h4>
                    <span>Sonaimuri,Noakhali</span>
                </div>
                <div class="review-card">
                    <img src="{% static 'myapp/images/jerry.jpg'%}" alt="">
                    <p>“Excellent service! Very satisfied with the experience.”</p>
                    <h4>Samia </h4>
                    <span>Habiganj,Sylhet</span>
                </div>
                <div class="review-card">
                    <img src="{% static 'myapp/images/juwel.jpg'%}" alt="">
                    <p>“Loved it! Everything went smoothly and hassle-free.”</p>
                    <h4>Jewel Rana</h4>
                    <span>Police line,Khulna</span>
                </div>

            </div>
        </div>
    </section>

    <footer id="contact">
        <p>© 2025 Travel BD. All rights reserved.</p>
        <p>Developed by <b>Md. Abu Shaid</b></p>
    </footer>
    <script>
        const images = [
            "{% static 'myapp/images/coxs.jpg' %}",
            "{% static 'myapp/images/sajek.jpg' %}",
            "{% static 'myapp/images/jaflong.jpg' %}"
        ];
    </script>
    <script src="{% static 'myapp/js/script.js' %}">
    </script>
</body>

</html>