{% load static %}
<link rel="stylesheet" href="{% static 'myapp/css/destination.css' %}">

<body>
    <h2 class="category-title">{{ category.name }}</h2>

    <div class="destinations-wrapper">
        {% for d in destinations %}
        <div class="destination-card">
            {% if d.image %}
            <img src="{{ d.image.url }}" alt="{{ d.name }}">
            {% endif %}

            <h3>{{ d.name }}</h3>
            <p>{{ d.description }}</p>
        </div>
        {% empty %}
        <p class="no-destination">No destinations found</p>
        {% endfor %}
    </div>
</body>