{% load static %}
<link rel="stylesheet" href="{% static 'myapp/css/dashboard.css' %}">
<div>
    <nav class="navbar">
        <div class="logo">Travel<span>BD</span></div>
        <ul class="nav-links" id="navLinks">
            <li><a href="{%url 'home' %}">Home</a></li>
            <li class="dropdown"><a href=" {% url 'destination_categories' %}">Destinations</a>
                <ul class="dropdown-content">
                    {% for category in categories_for_nav %}
                    <li>
                        <a href="{% url 'category_destinations' category.id %}">
                            {{ category.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>

            <li>
                <a href="{% url 'package_list'%} ">Packages</a>
            </li>
            <li><a href="{% url 'gallery'%}">Gallery</a></li>
            <li><a href="{% url 'blog_list' %}">Blog</a></li>
            <li><a href="{% url 'about'%}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <div class=" user-dropdown">
                <a href="#" class="user-icon" id="userMenu" data-toggle="dropdown">
                    <i class="fa fa-user" style="font-size:22px;"></i>
                </a>

                <div class=" user-dropdown-menu">
                    {% if user.is_authenticated %}
                    <a href="{% url 'user_dashboard' %}">My Account</a>
                    <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Register</a>
                    {% endif %}


                </div>
            </div>


        </ul>
        <div class="menu-icon" id="menuIcon">☰</div>

    </nav>
</div>
<div class="dashboard-container">
    <h2>Welcome, {{ user.username }}</h2>
    <p>Email: {{ user.email }}</p>

    <ul class="dashboard-menu">
        <li><a href="#">My Bookings</a></li>
        <li><a href="#">My Messages</a></li>
        <li><a href="#">Update Profile</a></li>
        <li><a href="{% url 'logout' %}" class="logout-btn">Logout</a></li>
    </ul>
</div>